<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Explorateur de fichiers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        
          <h1 class="text-center p-3">Explore tes fichiers</h1>
            <a href="#"><img class="img-fluid" src="medias/left-arrow.svg" alt="Precedent" width="60" height="60"></a>
            <a href="#"><img class="img-fluid" src="medias/right-arrow.svg" alt="Suivant" width="60" height="60"></a>
            <a href="#"><img class="img-fluid" src="medias/home.svg" alt="Home" width="60" height="60"></a>
            <p id="affichedossier" class="text-center" id="p">Fichiers</p>
        

    </header>

    
    


        
        
        

        <div class="fichiers container-fluid p-5" >
            
        <ul>
        {% for fichier in listefichier %}
            <li><a href="?chemin={{chemin}}/{{fichier}}">{{ fichier }}</a></li>
            
        {% endfor %}
        </ul>
                               
    </div>
                        </div>

</div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>